body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    min-width: max-content;
    max-width: 100vw;
    flex: 1 1 auto;
}
a {
    text-decoration: none;
}
.parawan-header {
    color: azure;
    background: linear-gradient(to top right, red, yellow);
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    font-size: 1.4em;
    flex: 0 1 auto;
}
.parawan-body {
    background-color: floralwhite;
    padding: 10px;
    border-right: 2px red solid;
    border-left: 2px red solid;
    flex: 1 1 auto;
}
.parawan-footer {
    text-align: right;
    color: white;
    background-color: black;
    padding: 3px 10px 3px 3px;
    flex: 0 1 auto;
}
.beach-preview {
    font-size: 1.2em;
}
.row {
    flex: none;
    width: 100%;
    display: table-row;
    margin: 10px;
    height: 40px;
}
.reserved-place{
    min-width: 40px;
    max-width: 40px;
    display: table-cell;
    padding: 5px;
    margin: 15px;
    background-color: coral;
    border: black solid 1px;
    text-align: center;
}
.unreserved-place {
    min-width: 40px;
    max-width: 40px;
    display: table-cell;
    padding: 5px;
    margin: 15px;
    background-color: lawngreen;
    border: black solid 1px;
    text-align: center;
}